appdirs==1.4.4
Appium-Python-Client==1.0.2
backports.cached-property==1.0.0.post2
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
decorator==4.4.2
Deprecated==1.2.10
docutils==0.16
greenlet==1.0a1
grpcio==1.34.1
grpcio-tools==1.34.1
idna==2.10
invoke==1.5.0
kitchen==1.2.6
lxml==4.6.2
playwright==0.171.1
protobuf==3.14.0
pyee==8.1.0
PyGithub==1.54.1
PyJWT==1.7.1
pyppeteer==0.2.5
rellu==0.7
requests==2.25.1
robotframework==3.2.2
robotframework-appiumlibrary==1.5.0.7
robotframework-browser==3.0.0
robotframework-PuppeteerLibrary==2.1.10
robotframework-pythonlibcore==2.2.1
robotframework-seleniumlibrary==3.3.1
selenium==3.141.0
six==1.15.0
soupsieve==2.1
tqdm==4.56.0
typing-extensions==3.7.4.3
urllib3==1.26.2
webdrivermanager==0.9.0
websockets==8.1
wrapt==1.12.1
